
 * {
  box-sizing: border-box;
 }
  
  body {
    background-color: #f1f0f0;
    font-family: sans-serif;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav
   {
    width: 60%;

    background-color: pink;
    font: small red;
    font-family: sans-serif;
    padding: 0,5em;
    list-style: none;

    display: flex;
    justify-content: center;
  
  }

  .category{
      text-align: center;
      color: red;
      padding: 1em;

    }
  
  .line{
    border-left: 1px solid red;
    height: 3em;
  }

