
 * {
  box-sizing: border-box;
 }
  
  body {
    background-color: #c9c8c8;
    font-size: small;
    font-family: sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    width: 50em;
    height: 50em;
    border: black dashed;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style: none;
  }

  .redbox {
    border: 4px solid rgba(241, 119, 119, 0.651);
    padding: 2em 2em 3em 2em;
  }


.box1 { 
  align-self: flex-start;
}

.box3 {
  align-self: flex-end;
}
