

  body {
    background-color: #acabab;
    font-family: sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  
  .container {
    width: 600px;
    height: 600px;
    margin: 70px;
    border-color: black;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  

  .flex-container-center {
    width: 10em;
    height: 10em;
    justify-content: center;
    align-items: center;
   }

  .box {
    border: solid rgba(241, 119, 119, 0.651);
    width: 25em;
    height: 10em;
    padding: 4em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: left;
    align-content: flex-start;
  }

  

  