  
body {
background-color: #ebe7e7;
font-size: small;
font-family: sans-serif;
}

.frame {
display: flex;
flex-direction: column;

width: 50em;
height: 50em;
border: black dashed;
margin: 5em auto;
}

.header{
display: flex;
align-items: center;
list-style: none;
padding: 1 em;
}

.header-nav{
list-style: none;
padding: 10px 15px 10px 15px;
}

 .line{
border-left: 1px solid;
height: 20px;
padding: 0;
}


.sitetitle{
height: 70px;
text-decoration: underline blue;
padding: 0 1em 0 1em;  
margin-right: auto;
display: flex;
align-items: center;
}

h3{
font-family: sans-serif;
color: blue;
}

h1{
color: blue
}


.content{
display: flex;
flex-basis: 100%;
}

.center {
  width: 15em;
  background-color: white;
  padding: 1em;
  align-self: stretch;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

.sidebar {
  flex-basis: 100%;
  background-color: rgb(206, 204, 204);
  padding: 1em;
  align-self: stretch;
  flex-grow: 1;
  flex-basis:0;
}

.copyright {
  background-color: #eeeeee;
  padding: 1em;

  margin-top: auto;
  margin-bottom: 0;
}




